@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;700&display=swap");

html,
body {
  min-height: 100vh;
}

body {
  background-color: #fde0d8 !important;
}

ul {
  list-style: none;
}

/* Wrapper */

.wrapper {
  height: 100vh;
}

/* Navbar */

.navbar {
  height: 15%;
}

.logo {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 36px;
  color: black;
}

.sub-logo {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 22px;
  color: black;
}

.nav-links-container-mobile {
  background-color: #fde0d8;
  bottom: -275px;
  left: 0;
  right: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: black;
}
.nav-link.active {
  font-weight: 600;
}
.nav-link:hover {
  color: black;
}

/* Shopping Cart */

.shopping-cart {
  transform: scale(0.8);
}

/* Content */

form {
  width: 485px;
}

form h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 26px;
}

.form-check input[type="radio"] {
  transform: scale(1.2);
}

.form-check label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.form-group label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.form-group input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

.form-group input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.form-group select {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("./assets/chevron.svg") 93% / 4% no-repeat
    rgba(255, 255, 255, 0.5);
}

form button {
  border: none;
  background-color: black;
  color: white;
  width: 215px;
  height: 44px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}
