@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;700&display=swap");

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: #fde0d8 !important;
}

ul {
  list-style: none;
}

/* Navbar */

.navbar {
  height: 15%;
}

.logo {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 36px;
  color: white;
}

.sub-logo {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 22px;
  color: white;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: black;
}
.nav-link.active {
  font-weight: 600;
}
.nav-link:hover {
  color: black;
}

/* Shopping Cart */

.shopping-cart {
  transform: scale(0.8);
}

/* Left block */

.left-block {
  width: 525px;
  height: 100vh;
  background: url("./assets/bg.png") center center;
  background-size: cover;
}

@media (max-width: 992px) {
  .left-block {
    width: 100%;
  }
}

.left-block-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}

.about {
  height: 80%;
}

.about h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: white;
}

.about p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: white;
  white-space: pre-line;
  line-height: 29px;
}

@media (max-width: 992px) {
  .about {
    margin: 0 50px;
  }

  .about h1 {
    text-align: center;
  }

  .about p {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .about {
    margin: 0;
  }

  .about h1 {
    font-size: 32px;
  }

  .about p {
    font-size: 18px;
  }
}

.nav-links-container-mobile {
  background-color: rgba(0, 0, 0, 0.9);
  top: 140px;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

.nav-links-container-mobile .nav-link {
  color: white;
}

/* Right block */

.right-block {
  width: calc(100% - 525px);
}

@media (max-width: 992px) {
  .right-block {
    width: 100%;
  }
}

.navbar-wide {
  margin-right: 48px;
  height: 104px;
}

@media (max-width: 1370px) {
  .navbar-wide {
    margin-right: 0px;
  }

  .nav-link {
    padding-right: 4px !important;
  }
}

.slider {
  height: calc(100% - 104px);
}

.slider > h2 {
  font-family: "Montserrat", sans-serif;
}

.images-container > img {
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.images-container > img.non-focused {
  width: 255px;
  height: 450px;
}

.images-container > img.focused {
  width: 365px;
  height: 645px;
}

span.numbers {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 32px;
}
